<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ru.yanygin.dt.cluster.admin.plugin.ClusterViewer"
            id="ru.yanygin.dt.clusterAdmin.plugin.ClusterViewer"
            name="Cluster viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.yanygin.dt.cluster.admin.plugin.InfobaseActionHandler"
            commandId="ru.yanygin.dt.clusterAdmin.plugin.killAllSession">
      </handler>
      <handler
            class="ru.yanygin.dt.cluster.admin.plugin.InfobaseActionHandler"
            commandId="ru.yanygin.dt.clusterAdmin.plugin.killAllExceptMe">
      </handler>
      <handler
            class="ru.yanygin.dt.cluster.admin.plugin.InfobaseActionHandler"
            commandId="ru.yanygin.dt.clusterAdmin.plugin.killAllExceptDesigner">
      </handler>
      <handler
            class="ru.yanygin.dt.cluster.admin.plugin.InfobaseActionHandler"
            commandId="ru.yanygin.dt.clusterAdmin.plugin.closeDesignerSession">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com._1c.g5.v8.dt.platform.services.ui.InfobasesView">
         <menu
               label="Cluster Admin">
            <command
                  commandId="ru.yanygin.dt.clusterAdmin.plugin.killAllSession"
                  id="killAllSession"
                  style="push">
            </command>
            <command
                  commandId="ru.yanygin.dt.clusterAdmin.plugin.killAllExceptMe"
                  id="2"
                  style="push">
            </command>
            <command
                  commandId="ru.yanygin.dt.clusterAdmin.plugin.killAllExceptDesigner"
                  id="3"
                  style="push">
            </command>
         </menu>
         <command
               commandId="ru.yanygin.dt.clusterAdmin.plugin.closeDesignerSession"
               id="4"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ru.yanygin.dt.clusterAdmin.plugin.killAllSession"
            name="Завершить все сессии">
      </command>
      <command
            id="ru.yanygin.dt.clusterAdmin.plugin.killAllExceptMe"
            name="Завершить все сессии (кроме моих)">
      </command>
      <command
            id="ru.yanygin.dt.clusterAdmin.plugin.killAllExceptDesigner"
            name="Завершить все сессии (кроме конфигуратора)">
      </command>
      <command
            id="ru.yanygin.dt.clusterAdmin.plugin.closeDesignerSession"
            name="Выгрузить агент конфигуратора">
      </command>
   </extension>
   
</plugin>
